*{
	padding: 0;
	margin: 0;
	border: none;
 	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  	font-weight: 500;
 	width: 100%;
}
body {
	width: 1900px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;


}
.container{
	height: 125px;
  	position: relative;

}
	.container .header-text{
		color: white;
	    background-color: #222222;
	    height: 30px;
	    font-size: 10.8px;
	    padding-left: 500px;
	    width: 1400px;
	}
		.container .header-text p {
	      position: absolute;
	      width: 202px;
	      padding-top: 8px;
	      padding-left: 800px;
	      letter-spacing: 1px; 
	      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	  	}
	.container .header-info{
		display: flex;
	}
		.container .header-info img{
			display: inline-block;
			padding-top: 25px;
			padding-left: 395px;
			width: 235px;
			float: left;
			height: 100%;
		}
		.container .header-info .menu{
			display: flex;
			margin-left: 170px;
		}
		.container .header-info .item{
			background-color: white;
			text-align: center;
			margin: 25px 15px 10px 0px;
			height: 35px;
			max-width: 600px;
			font-size: 15px;
			width: 90px;
		} 
		.container .header-info .shorter {
      		letter-spacing: -2px; 
      	}
      	.container .header-info .item:hover{
      		border-bottom: 2px black solid;
      	}
.container-upper{
	background-color: #eeeeee;
	position:absolute;
	width: 1900px;
}
.mainvisual .mainVisualImg{
	width: 1900px;
	z-index: 2;		
	position:absolute;
}
.mainVisualTextImg{
	width: 615px;	
	z-index: 2;	
	position:absolute;
	margin: auto;
	padding: 180px 655px;
}
.text-mainvisual{
	z-index: 2;
	position:absolute;	
}
	.text-mainvisual .firstClass{
		display: block;
		margin:auto;
    	position:absolute;
    	padding-left: 650px;
    	padding-top: 180px;
	}
	.text-mainvisual p{
		position:absolute;		
	}
	.text-mainvisual .line1{
		padding-left: 735px;
    	padding-top: 295px;
    	font-size: 20px;
    	color: white;	
	}
	.text-mainvisual .line2{
		padding-left: 755px;
    	padding-top: 333px;
    	font-size: 20px;
    	color: white;	
	}
.service{
	margin-top: 600px;
	margin-left: 395px;	
	margin-bottom: 10px;
    width: 1110px;
    background-color: white;
}
	.service-banner{	
		position:absolute;		
	    background-color: #fcd000;
	    width: 1110px;
	}
		.head-service p{
			color: black;			
		}
		.head-service .head-service-line1{
			margin-left: 475px;	
		    margin-top: 15px;
		    font-size: 20px;
		    font-weight: bold;
		}
		.head-service .head-service-line2{
			margin-left: 430px;	
		    margin-bottom: 10px;
		}
.service-about{
	display: flex;
}
	.item {
		width: 500px;
	}
	.service-about img{
		width: 475px;
		height: 300px;
		margin-top: 147px;
		margin-left: 65px;

	}
	.service .item .line1{
		margin-top: 145px;
		margin-left: 30px;
		font-size: 25px;
		width: 400px;
	}
	.service .item .line2 {
		margin-top: 20px;
		margin-left: 30px;		
		width: 400px;
	}
	.service .item button {
		background-color: #fcd000;
		width: 350px;
		height: 55px;
		margin: 38px 0px 0px 20px;
	}
	/*.service .service-about .fas {
		padding-left: 2px;
	}*/
		
.service-guide{
	display: flex;
	width: 980px;
	padding-left: 55px;
	padding-bottom: 65px;
}
	.service-guide .left{
		background-color: #222222;
		width: 265px;
		margin-top: 60px;
		margin-left: 10px;
	}
		.service-guide .left .line1{
			color: white;
			margin-top: 70px;
			margin-left: 70px;
			font-size: 20px;
		}
		.service-guide .left .line2{
			color: white;
			font-size: 13px;
			margin-left: 90px;
			height: 85px;
		}
	.service-guide .item{
		display: flex;
		background-color: #eeeeee;
		text-align: center;
		margin-top: 60px;
		padding: 30px 33px 0px;
		width: 715px;
	}
		.service-guide .item .item-info img{
			width: 96px;
			height: 96px;
			border-radius: 48px;
			-moz-border-radius: 48px;
			-webkit-border-radius: 48px;
		}
		.service-guide .item .item-info-fisrt {
			padding-left: 66px;

		}
		.service-guide .item .item-info .last {
			padding-right: 66px;
		}
		.service-guide .item .item-info p{
			font-size: 14px;
			
		}
.news{
	background-color: white;
	margin-top: 90px;
}
	.news .line1{
		text-align: center;
		margin: auto;
		padding-top: 63px;
		font-size: 30px;
		font-weight: bold;
	}
	.news .line2{
		text-align: center;
		margin: auto;
	}
	.news .line{
		width: 1000px;
		margin: 0px 445px 0px;
		clear: both;
    	border-bottom: 2px solid #222222;
	}
	.news .line3{
		padding-left: 1342px;
	}
	.news .detail{
		margin-left: 444px;
		margin-top: 66px;
	}
		.news .news-list-first .list{		
			display: flex;
		}
			.news .news-list-first .list .date{
				width: 84px;
			}
			.news .news-list-first .list .label{
				width: 300px;
			    margin-left: 30px;
			    border-radius: 20px;
			    padding-top: 4px;
			    background-color: #fcd000;
			    text-align: center;
			    color: #eeeeee;
			}
			.news .news-list-first .list .text{
				margin-left: 29px;
			}
			.news .news-list-first .list .arrow{
				padding-right: 200px; 
			}
		.news .news-list-first .line-space{
			padding-top: 15px;
			border-bottom: 1px dashed #222222;
			width: 1000px;			
		}

		.news .news-list .list{
			margin-top: 20px;
			display: flex;
		}
			.news .news-list .list .date{
				width: 84px;
			}
			.news .news-list .list .label{
				width: 300px;
			    margin-left: 20px;
			    border-radius: 20px;
			    
			    background-color: #fcd000;
			    text-align: center;
			    color: #eeeeee;
			}
			.news .news-list .list .label2{
				width: 420px;
			    margin-left: 30px;
			    border-radius: 20px;
			    
			    background-color: #fcd000;
			    text-align: center;
			    color: #eeeeee;
			}
			.news .news-list .list .label3{
				width: 400px;
			    margin-left: 7px;
			    border-radius: 20px;
			    padding-right: 2px;
			    background-color: #fcd000;
			    text-align: center;
			    color: #eeeeee;
			}
			.news .news-list .list .text{
				margin-left: 29px;
			}
			.news .news-list .list .arrow{
				padding-right: 200px; 
			}
			.news .news-list .list .arrow2{
				padding-right: 415px; 
			}
		.news .news-list .line-space{
			padding-top: 15px;
			border-bottom: 1px dashed #222222;
			width: 1000px;
		}
.company{
	padding-top: 65px;
	background-color: white;
	display: flex;	
	position:absolute;
	height: 460px;
}
	.company .left img{
		padding-left: 393px;
		padding-top: 40px;
		width: 557px;
		height: 420px;
		position:absolute;
	}
	.company .right{
		background-color: #eeeeee;
		margin-top: 40px;
		margin-right: 400px;
		/*margin-left: 400px;*/
	}
	.company .right .line1{
		border: 0.5px;
		border-style: solid;
		margin-left: 250px;
		margin-top: 47px;
		width: 80px;
		font-size: 15px;
		text-align: center;	
	}
	.company .right .line2{
		margin-top: 22px;
		margin-left: 250px;
		font-size: 24px;

	}
	.company .right .line3{
		margin-left: 250px;
		font-size: 14px;
		margin-top: 20px;
		width: 500px;
	}
	.company .right .button{
		margin-left: 250px;
		background-color: #fcd000;
		margin-top: 50px;
		height: 60px;
		width: 350px;
		font-weight: bold;
	}
.recruit{
	margin-top: 625px;
	margin-left: 393px;
	position:absolute;
	background-color: white; 
	display: flex;	
	width: 1107px;
	height: 250px;
}
	.recruit .left {
		background-color: #fcd000;
	}
		.recruit .left .line1{
			margin-left: 50px;
			margin-top: 45px;
			width: 160px;
			border: 0.5px;
			border-style: solid;
			font-size: 18px;
			text-align: center;	
		}
		.recruit .left .line2{
			margin-left: 50px;
			margin-top: 15px;
			font-size: 20px;
		}
		.recruit .left .line3{
			margin-left: 50px;
			margin-top: 25px;
			margin-bottom:  53px;
			font-size: 15px;
		}
	.recruit .right img{
		width: 660px;
		height: 251px;
	}

.contact{
	padding-top: 970px;
	position:absolute;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}
	.contact img{
		z-index: 1;
		position:absolute;

	}
	.contact .line{
		z-index: 2;
		position:absolute;
		color: white;
		font-size: 30px;
		margin-top: 120px;
		margin-left: 750px;
		font-weight: bold;
		text-shadow: 3px 3px 2px #222222;

	}
	.contact .block{
		z-index: 2;
		position: absolute;
	}
		.contact .block .block1{
			z-index: 3;
			position: absolute;
			width: 350px;
			height: 73px;
			background-color: black;
			opacity: 0.5;
			text-align: center;
			margin-left: 395px;
			margin-top: 205px;
			border: 2px  solid white;
		}
			.contact .block .block1 .info{
				z-index: 4;
				position: absolute;
				color: white;
				font-size: 12px;
				margin-top: 12px; 
			}
			
			.contact .block .block1 .call{
				z-index: 4;
				position: absolute;
				color: white;
				font-size: 20px;
				margin-top: 35px;
				letter-spacing: 3px; 
			}
		.contact .block .block2{
			z-index: 3;
			position: absolute;
			width: 350px;
			height: 73px;
			background-color: black;
			opacity: 0.5;
			text-align: center;
			margin-left: 770px;
			margin-top: 205px;
			border: 2px  solid white;
		}
			.contact .block .block2 .info{
				z-index: 4;
				position: absolute;
				color: white;
				font-size: 12px;
				margin-top: 12px; 
			}
			
			.contact .block .block2 .call{
				z-index: 4;
				position: absolute;
				color: white;
				font-size: 20px;
				margin-top: 35px;
				letter-spacing: 3px; 
			}
		.contact .block .block3{
			z-index: 3;
			position: absolute;
			width: 350px;
			height: 73px;
			background-color: #82141a;
			text-align: center;
			margin-left: 1150px;
			margin-top: 205px;
			
		}	
			.contact .block .block3 .info{
				z-index: 4;
				position: absolute;
				color: white;
				font-size: 20px;
				margin-top: 20px; 
				letter-spacing: 5px; 
			}
	.footer-upper{
		display: flex;
		padding-top: 3400px;
	}
		.footer-upper img{
			display: inline-block;
			
			padding-left: 395px;
			width: 235px;
			float: left;
			height: 100%;
		}	
		.footer-upper .text{
			margin-left: 70px;
			font-size: 15px;
		}
	.line{
		width: 1110px;

		margin-top: 48px;
		margin-left: 395px;
		clear: both;
    	border-bottom: 1px solid #222222;
	}	
.footer-mid{
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	display: flex;
	margin-top: 50px;
	margin-left: 395px;
	font-weight: 500;
}
	.footer-mid .col {
		color: black;
		width: 120px;
		font-size: 12px;
		font-weight: 500;
		padding-right: 100px;		
	}
		.footer-mid .col .header{
			font-size: 15px;
			margin-bottom: 23px;
		}
	.col-last{
		display: flex;
		margin-bottom: 20px;
		margin-top: 50px;
		margin-left: 395px;
		position: absolute;
	}
		.col-last p{
			width: 150px;
			font-size: 15px;
			margin-right: 70px;
		}
footer {
    background-color: #222222;
    height: 55px; 
    margin-top: 110px;
}
	footer p {
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
		font-weight: 500;
		margin: auto;
		font-size: 13px;
		color: white;
		letter-spacing: 1.5px;
		width: 280px;
		padding-top: 20px; 
	}
/*Mobile*/
@media only screen and (max-width: 768px ){
	
	body {
		width: 950px;
	}
	.container .header-text{
		display: none;
	}
		.container .header-info img{
			/*width: 117,5px;*/
			height: 50%;
			padding-left:50px;

		}
		.container .header-info .fa-bars{
			display: inline;
			padding-left: 300px;
			padding-top: 40px;
		}
		.container .header-info .menu{
			display: none;
		}
}